/*Link style*/
.bm-item {
  display: inline-block;
  text-decoration: none;
  color: #eff0d1;
  transition: color 0.2s;
  margin-bottom: 1rem;
}

/*Link hover*/
.bm-item:hover {
  color: #f58a07;
}

/*Button menu burger*/
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #f58a07;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #f58a07;
}

/* General sidebar styles */
.bm-menu {
  background: #262730;
  padding: 2.5em 1.5em 0;
  font-family: "Sora";
  font-size: 1.15em;
}

/* Styling of overlay */
.bm-overlay {
  background: #262730;
}

#outer-container {
  height: 6.5rem;
  background-color: #262730;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  border-bottom: 1px solid #eff0d1;
}

.logo {
  width: 200px;
}

.login_button {
  width: 8rem;
  height: 4rem;
  border-radius: 3px;
  border: none;
  background-color: #f58a07;
  font-family: "Sora";
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: #262730;
  margin-right: 1rem;
}

.login_button:hover {
  color: #eff0d1;
}

.login_button:active {
  background-color: #eff0d1;
  color: #262730;
}

@media screen and (max-width: 391px) {
  .logo {
    width: 120px;
    margin-left: 7rem;
    margin-right: 1rem;
  }
}
