.container_about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  align-self: center;
}

.img_about {
  width: 35rem;
  border-radius: 5px;
  box-shadow: #121217 0px 3px 8px;
}

.titre_about {
  font-family: "Sora";
  color: #eff0d1;
  margin-top: 0;
  margin-left: 1rem;
}
.content_about {
  font-size: 1rem;
  font-family: "Sora";
  line-height: 1.5em;
  color: #eff0d1;
  font-size: 1.2rem;
}

@media screen and (max-width: 391px) {
  .container_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
    font-size: 1.2rem;
  }
  .img_about {
    width: 22rem;
    border-radius: 5px;
    box-shadow: #121217 0px 3px 8px;
    margin-top: -2rem;
  }

  .titre_about {
    width: 22rem;
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
}
