/* fond: #262730;
cards : rgb(11,14,32, 0.3);
orange : #F58A07;
blanc beige : #EFF0D1; */

.ContainerFormVehicle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
  border: none;
  border-radius: 1rem;
  background-color: rgb(11, 14, 32, 0.3);
  color: #eff0d1;
  font-family: "Sora";
}

.LabelVehicle {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 2%;
  font-size: larger;
  color: #eff0d192;
}

.LabelVehicle input {
  margin: 2%;
  outline: none;
  border-radius: 0.2rem;
  border-top: 0;
  border-left: 0;
  background: #eff0d1;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 8%;
  border: none;
}

.ButtonAdd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.AddNewVehicle {
  border-radius: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f58a07;
  color: #262730;
  border: none;
  padding: 0.5rem;
  width: 40%;
  font-size: larger;
  font-family: "Sora";
}

.SubmitButton {
  margin: 5%;
  border-radius: 0.2rem;
  background-color: #f58a07;
  color: #262730;
  border: none;
  cursor: pointer;
}

.DeleteButton {
  margin: 5%;
  border-radius: 0.2rem;
  background-color: #f58a07;
  color: #262730;
  border: none;
  cursor: pointer;
}

.ButtonForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  max-width: 100%;
  margin: 2%;
  border-radius: 0.2rem;
}

@media screen and (min-width: 391px) {
  .ContainerFormVehicle {
    border-radius: 1rem;
    margin-left: 25%;
    margin-right: 25%;
  }

  fieldset {
    justify-content: space-evenly;
    width: 80%;
  }

  .ButtonAdd {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .AddNewVehicle {
    margin: 1%;
    margin-bottom: 5%;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 17%;
  }

  .DeleteButton {
    display: flex;
    justify-content: center;
    margin: 2%;
    border-radius: 0.2rem;
    width: 5%;
  }

  .ButtonForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2%;
  }

  .SubmitButton {
    width: 20%;
    font-size: larger;
  }

  .DeleteButton {
    width: 20%;
    font-size: larger;
  }

  .LabelVehicle input {
    width: 100%;
  }
}
