.slider-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
}

.image-slider {
  width: 20rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 5px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #dcdcdd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.8rem;
  border-radius: 5px;
}

.make-car {
  font-size: 2rem;
  margin: 0;
}

.model-car {
  font-size: 1.5rem;
  margin: 0;
}

.button-show {
  width: 8rem;
  height: 2rem;
  border-radius: 3px;
  background-color: #bf3e9f;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}

.button-show:hover {
  background-color: #bf3e9f;
  color: #0b0e20;
}

.button-show:active {
  background-color: #bf3e9f;
  color: rgb(77, 79, 81);
}

.arrow {
  width: 2rem;
  height: 2rem;
}

.button-previous {
  border: none;
  background: transparent;
  cursor: pointer;
}

.button-next {
  border: none;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 391px) {
  .slider {
    display: block;
    margin-top: 1rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .card {
    display: flex;
    flex-direction: column;
  }

  .button-previous {
    display: none;
  }

  .button-next {
    display: none;
  }
}
