.seemoretotal {
  display: flex;
  justify-content: space-evenly;
  background-color: #361a55;
  padding: 1rem;
  margin: 2rem;
  border-radius: 30px;
}

.carpicture {
  background-color: #cab5f2;
}

.description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description li {
  list-style: none;
  color: whitesmoke;
}

.description a {
  border: solid 3px whitesmoke;
  padding: 0.5rem;
  border-radius: 30px;
  color: whitesmoke;
  text-decoration: none;
}

.description a:hover {
  background-color: whitesmoke;
  color: #361a55;
}
