.ContainerFormVehicle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    background-color: #6C85D6 ;
}

.PictureVehicle{
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.LabelVehicle{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 2%;
}

.LabelVehicle input{
    margin: 2%;
    outline: none;
    border-radius: 0.5rem;
    border-top: 0;
    border-left: 0;

}

.TextAnnounce{
    max-width: 50%;
    max-height: 10%;
}

.AddNewButton{
    margin: 1%;
    margin-bottom: 5%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    width: 60%; 
    margin-left: 16%;
    cursor: pointer;
}

.DeleteButton{
    display: flex;
    justify-content:center;
    margin: 2%;
    border-radius: 0.5rem;
    max-width: 30%;
    cursor: pointer;
}

.AddPicture{
    display: flex;
    justify-content:center;
    margin: 2%;
    margin-top: 40%;
    border-radius: 0.5rem;
    max-width: 100%;
    cursor: pointer;
}

.SubmitButton{
    display: flex;
    justify-content:center;
    margin: 1%;
    border-radius: 0.5rem;
    max-width: 100%;  
    cursor: pointer;
}

@media screen and (min-width: 970px) {

.ContainerFormVehicle{
    border-radius: 1rem;
}
.DeleteButton{
    margin: 2%;
    border-radius: 0.5rem;
    width: 5%;
    }
.AddNewButton{
    width: 29%;
    margin-left: 31%;
}
}