.BodyForm{
    display: flex;
    flex-direction: column;
    align-items: center;
background-color:#9faddb;
}
.CarDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    padding: 2%;
    background-color:#6c85d6;
    border-radius: 1rem;
    width: 50%;
    font-family: 'Sora';
    font-size: 1.2rem;
    color: #ecedf0;

   
}
.BodyForm h2 {
    font-family: 'Sora';
    margin-bottom: 2rem;
    color:#BF3E9F;
}

.CarTitle{
    font-size: larger;
    font-weight: bold;
    font-family: 'Sora';
}

.FormResa{
    margin: 1%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6c85d6;
    border-radius: 1rem;
    width: 50%;
    font-family: 'Sora';
    margin-bottom: 2rem;;
}

.LabelResa{
    margin: 1%;
}

.InputResa{
    margin: 3%;
    outline: none;
    border-radius: 0.5rem;
    border-top: 0;
    border-left: 0;
}

.SubmitResa{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0.5rem;
    margin: 1%;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .FormResa{
        margin: 1%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #6c85d6;
        border-radius: 1rem;
        width: 50%;
    }    
}