.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 11rem;
  background-color: rgb(11, 14, 32, 0.3);
  border: none;
  border-radius: 0.5rem;
  box-shadow: #121217 0px 3px 8px;
  width: 30rem;
  height: 15rem;;
}

.loginForm {
  display: flex;
  flex-direction: column;
  outline: none;
}

.email {
  width: 20rem;
  padding: 0.2rem;
  margin-bottom: 2rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  outline: none;
  border-top: 0;
  border-left: 0;
  text-decoration: #262730;
  color: #262730;
  font-family: "Sora";
  font-size: 1rem;
}

.password {
  margin-bottom: 5%;
  padding: 0.2rem;
  border-radius: 0.3rem;
  outline: none;
  border-top: 0;
  border-left: 0;
  text-decoration: #262730;
  color: #262730;
  font-family: "Sora";
  font-size: 1rem;
  height: 1.5rem;
  margin-bottom: 2rem;

}

.SubmitLogin {
  border-radius: 0.3rem;
  padding: 0.2rem;
  border: none;
  background-color: #f58a07;
  color: white;
  cursor: pointer;
  font-family: "Sora";
  font-size: larger;
  height: 3rem;
}

:hover.SubmitLogin {
  border: 1px solid #f58a07;
  background: transparent;
  color: white;
  transition: 0.4;
}

@media screen and (max-width: 391px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    margin-bottom: 8.5rem;
  }

  .login{
    margin-top: 5rem;
  }

  .loginForm {
    width: 15rem;
  }

  .email {
    width: 14.4rem;

  }

}
