.notFoundContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
  }
  
  .notFoundLottie {
    width: 20rem;
    height: 20rem;
  }
  
  .notFoundButton {
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: rgb(85, 88, 90);
    border: 1px solid #f5f5f5;
    color: #202020;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .notFoundButton:hover {
    background-color: #aed768;
    color: aliceblue;
  }
  
  .notFoundButton:active {
    background-color: #95b759;
    color:rgb(77, 79, 81);
  }
  
  @media screen and (min-width: 391px) {
    .notFoundContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 30rem;
      margin-bottom: 3.1rem;
    }
  
    .notFoundLottie {
      width: 50rem;
      height: 40rem;
    }
  
    .notFoundButton {
      margin-top: 0;
    }
  }