.seemorepage {
  background-color: #dcdcdd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  margin: 3rem 4rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.seemoretotal {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.seemoretotal a {
  display: flex;
  align-items: flex-start;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.img-close {
  width: 2rem;
}

.carpicture {
  width: 500px;
  height: 370px;
}

.carpicture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.description p {
  list-style: none;
  color: #0b0e20;
}

.description a {
  border: solid 3px #0b0e20;
  padding: 0.5rem;
  margin: 15px;
  border-radius: 30px;
  color: #0b0e20;
  text-decoration: none;
}

.description a:hover {
  background-color: #0b0e20;
  color: #dcdcdd;
}

@media screen and (max-width: 391px) {
  .seemoretotal {
    flex-direction: column;
  }

  .seemorepage a {
    padding-bottom: 0.5rem;
  }

  .carpicture {
    width: 300px;
    height: 170px;
  }

  .description p {
    margin: 0;
    padding: 0.5rem;
  }

  .description a {
    text-align: center;
  }
}
